.pageBox {
  min-height: 100%;
  background-color: #f8f8f8;
  /* background-color: #3a3a3c; */
}

.mainPage {
  height: 100%;
}

.graphBox {
  background-color: #ffffff;
}

.dataBox {
  display: flex;
  justify-content: center;

  margin: 3% 0px;
}