.pageBox {
  min-height: 100%;
  background-color: #3a3a3c;
  /* background-color: #3a3a3c; */
}

.mainPage {
  height: 100%;
}

.graphBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 100%;
  margin: 3% 0px;
}

.dataBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 3% 0px;
}